@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

body {
  height: 100vh;
  background: linear-gradient(
    rgba(5, 13, 33, 1),
    rgb(7, 73, 58),
    rgba(5, 13, 33, 1)
  );
}

.loginSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  h3 {
    position: absolute;
    top: 15%;
    left: 22%;
    text-align: start;
    color: white;
  }
  form {
    box-sizing: border-box;
    width: 877px;
    height: 446px;
    position: relative;
    background: rgba(217, 217, 217, 0.03);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    a {
      position: absolute;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      bottom: 30%;
      right: 28%;
      cursor: pointer;

      /* identical to box height */

      text-decoration-line: underline;

      color: #4f728e;
    }
    .inputBox {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 9px;
      width: 384px;
      height: 84px;
      color: white;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      position: relative;
      div {
        width: 100%;
        position: relative;
        display: flex;
        .userIcon,
        .lockIcon,
        #eyeIcon {
          position: absolute;
          font-size: 25px;
        }

        .userIcon,
        .lockIcon {
          top: 25%;
          left: 3%;
        }
        #eyeIcon {
          top: 25%;
          right: 3%;
          color: #4f728e;
          cursor: pointer;
        }
      }
      input {
        width: 384px;
        height: 55px;
        color: #4f728e;
        background: rgba(217, 217, 217, 0.03);
        border-color: rgba(217, 217, 217, 0.03);
        border-radius: 10px;
        padding: 0 40px;
        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
      }
      input:focus {
        outline: none;
      }
    }
    button {
      box-sizing: border-box;
      width: 384px;
      height: 55px;
      outline: none;
      border: none;
      color: white;
      background: #2db97c;
      border-radius: 10px;
      font-size: 16px;
    }
    button:hover {
      background: #23de8d;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 885px) {
  .loginSection {
    form {
      width: 690px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .loginSection {
    h3 {
      position: absolute;
      top: 15%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      color: white;
    }
    form {
      width: 500px;
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .loginSection {
    h3 {
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      color: white;
    }
    form {
      width: 400px;
      .inputBox {
        width: 90%;
        input {
          width: 100%;
        }
      }

      a {
        bottom: 30%;
        right: 0%;
        left: 0;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .loginSection {
    h3 {
      position: absolute;
      top: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      color: white;
    }
    form {
      width: 300px;
      .inputBox {
        width: 90%;
        div {
          .userIcon,
          .lockIcon,
          #eyeIcon {
            font-size: 20px;
            top: 15%;
          }
        }
        input {
          width: 100%;
          height: 40px;
          font-size: 14px;
        }
      }

      a {
        bottom: 30%;
        right: 0%;
        left: 0;
        margin: 0 auto;
        text-align: center;
      }
      button {
        width: 90%;
        height: 30px;
        font-size: 14px;
      }
    }
  }
}
