
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: white;
  position: absolute;
  top: 100%;
  .boxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .inner {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px 30px;
      width: 585px;
      height: 508px;
      background: rgba(217, 217, 217, 0.03);
      border-radius: 10px;
      font-weight: 700;
      line-height: 28px;
      .quesitons {
        width: 451px;
        height: 392px;
        left: 390px;
        top: 1020px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
      p {
        cursor: pointer;
        height: 10px;
      }
      h3 {
        font-size: 24px;
        line-height: 24px;
      }

      p:hover {
        color: #3fc88d;
      }
    }
  }
  h4 {
    position: relative;
    left: 6%;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    span {
      color: #3fc88d;
    }
  }
}


@media screen and (min-width:895px)and (max-width: 1185px) {
  footer{
    .boxes{
      .innner{
        width: 40%;
        p{
          
          font-size: 10px;
        }
        .quesitons{
          height: 100%;
          font-size: 10px;
        }
      }
    }
  }
}



@media screen and (min-width:750px)and (max-width: 895px) {
  footer{
    .boxes{
      .inner{
        width: 40%;
        gap: 0;
        h3{
          font-size: 14px;
        }
        p{
          font-size: 9px;
        }
        .quesitons{
         
          height: 40%;
          font-size: 10px;
          gap: 5px;
        }
      }
    }
  }
}


@media screen and (min-width:700px)and (max-width: 750px) {
  footer{
    .boxes{
      .inner{
        width: 40%;
        gap: 0;
        h3{
          font-size: 14px;
        }
        p{
          font-size: 8px;
        }
        .quesitons{
         
          height: 40%;
          font-size: 10px;
          gap: 5px;
        }
      }
    }
  }
}


@media screen and (min-width:528px)and (max-width: 700px) {
  footer{
   .boxes{
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    .inner{
        width: 90%;
        gap: 0;
        h3{
          font-size: 14px;
        }
        p{
          font-size: 14px;
        }
        .quesitons{
          width: 100%;
          height: 40%;
          font-size: 10px;
          gap: 5px;
        }
      }
    }
  }
}



@media screen and (min-width:357px)and (max-width: 528px) {
  footer{
  
   .boxes{
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    .inner{
        width: 90%;
        gap: 0;
        h3{
          font-size: 14px;
        }
        p{
          font-size: 10px;
        }
        .quesitons{
          width: 100%;
          height: 40%;
          font-size: 10px;
          gap: 5px;
        }
      }
    }

    
  }
}



@media screen and (min-width:300px)and (max-width: 357px) {
  footer{
    width: 90%;
    margin: auto;
   .boxes{
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    .inner{
        width: 90%;
        // height: auto;
        gap: 0;
        h3{
          font-size: 14px;
        }
        p{
          font-size: 6px;
          height: 12px;
          width: 180px;
          
        }
        .quesitons{
          width: 100%;
         
          font-size: 10px;
          gap: 5px;
        }
      }
    }
    h4{
      font-size: 10px;
    }
  }
}