.problem {
  width: 100%;
  height: 90vh;
  line-height: 24px;
}

.card {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: 14px;
  }
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .text {
    width: 250px;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 24px;
      font-size: 24px;
      line-height: 24px;
    }
    i {
      width: 16.67px;
      height: 15.83px;
      font-size: 16px;
    }

    #icon_1 {
      color: #ffc331;
    }
    #icon_2 {
      color: #ffc331;
    }
  }
  .edit {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .problem {
    .card {
      .title {
        flex-wrap: wrap;
        justify-content: center;
        .text {
          width: 205px;
        }
      }
    }
  }
}
