#navbar {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #1a2334;
  #navLinks,
  .gap-3 {
    display: flex;
    gap: 20px;
  }

  .btnDark {
    background: rgb(8, 41, 56);
    border: 1px solid #263c47;
  }
  .btnDark:hover {
    background: rgb(11, 64, 88);
  }
  .btnGreen {
    background: #2db97c;
    border: none;
  }
  .btnGreen:hover {
    background: #3fc88d;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    div {
      width: 35px;
      height: 5px;
      background-color: rgb(255, 255, 255);
      margin: 2px 0;
    }
  }
}
#links {
  color: white;
}

button {
  width: 133px;
  height: 48px;
  color: white;
  border-radius: 10px;
}

#offcanvas {
  background: rgba(5, 13, 33, 1);
  button {
    background-color: white;
  }
  .btnDark {
    background: rgb(8, 41, 56);
    border: 1px solid #263c47;
  }
  .btnDark:hover {
    background: rgb(11, 64, 88);
  }
  .btnGreen {
    background: #2db97c;
    border: none;
  }
  .btnGreen:hover {
    background: #3fc88d;
  }
}

.logoNav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #222d41;
  .technologies {
    width: 400px;
    display: flex;
    gap: 40px;
    height: 100%;
    align-items: center;
    padding: 0 150px;

    .techIcons {
      position: relative;
      width: 100px;
      height: 40px;
      display: flex;
      gap: 5px;
      align-items: center;
      color: white;
      cursor: pointer;
      p {
        position: relative;
        top: 8px;
      }
    }

    .techIcons::before {
      position: absolute;
      bottom: 0%;
      left: 0;
      content: "";
      width: 0;
      height: 2px;
      background: #2db97c;
      border-radius: 50px 50px 0px 0px;
      transition: 0.5s;
    }

    .techIcons:hover::before {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    position: relative;
    #navLinks,
    .gap-3 {
      display: none;
    }
    #navBrand {
      position: absolute;
      left: 15%;
    }
    .hamburger {
      position: absolute;
      display: flex;
      right: 5%;
    }
  }
}
