
#navbar {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #1a2334;
  height: 80px;
  #navBrand {
    font-size: 16px;
  }
  #navLinks,
  .gap-3 {
    display: flex;
    gap: 20px;
  }

  #btnDark {
    background: rgb(8, 41, 56);
    border: 1px solid #263c47;
  }
  #btnDark:hover {
    background: rgb(11, 64, 88);
  }
  #btnGreen {
    background: #2db97c;
    border: none;
  }
  #btnGreen:hover {
    background: #3fc88d;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    div {
      width: 35px;
      height: 5px;
      background-color: rgb(255, 255, 255);
      margin: 2px 0;
    }
  }
}
#links {
  color: white;
}

#btnDark,
#btnGreen {
  width: 133px;
  height: 48px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#offcanvas {
  background: rgba(5, 13, 33, 1);
  button {
    background-color: white;
  }
  #btnDark,#btnGreen {
  width: 133px;
  height: 48px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  #btnDark{
    background: rgb(8, 41, 56);
    color: white;
  }
  #btnDark:hover {
    background: rgb(11, 64, 88);
    color: white;
  }
  #btnGreen {
    background: #2db97c;
    border: none;
  }
  #btnGreen:hover {
    background: #3fc88d;
    color: white;
  }
}

.logoNav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #222d41;
  .technologies {
    width: 400px;
    display: flex;
    gap: 40px;
    height: 100%;
    align-items: center;
    padding: 0 150px;
    .active {
      border-bottom: 2px solid #2db97c;
    }
    .techIcons {
      position: relative;
      width: 100px;
      height: 40px;
      display: flex;
      gap: 5px;
      align-items: center;
      color: white;
      cursor: pointer;
      p {
        position: relative;
        top: 8px;
      }
    }

    
  }
}

@media screen and (max-width: 1200px) {
  #navbar {
    position: relative;
    #navLinks,
    .gap-3 {
      display: none;
    }
    #navBrand {
      position: absolute;
      left: 15%;
    }
    .hamburger {
      position: absolute;
      display: flex;
      right: 5%;
    }
  }
}

@media screen and (max-width: 420px) {
  #navbar {
    #container {
      #navBrand {
        display: none;
      }
    }
  }

  .logoNav {
    .technologies {
      width: 60%;
      padding: 0 0;
      margin: auto;
    }
  }
}
