.subject {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 25px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 374px;
      height: 186px;
      background: rgba(217, 217, 217, 0.03);
      border: 2px solid rgba(217, 217, 217, 0.03);
      box-shadow: inset 0px 4px 50px rgba(255, 255, 255, 0.03);
      border-radius: 10px;
      padding: 0 30px;
      color: white;
      transition: 0.7s all;
      cursor: pointer;
      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
        }
        i {
          width: 16.67px;
          height: 15.83px;
          font-size: 16px;
        }

        .filledIcon {
          color: #ffc331;
        }
        .unfilled {
          color: #ffc331;
        }
      }
      .text {
        width: 332px;
        height: 48px;
      }
      .task {
        display: flex;
        gap: 5px;
        i {
          font-size: 16px;
          .trophy {
            color: #ffc331;
          }
        }
      }
    }
    .card:hover {
      background: rgba(217, 217, 217, 0.03);
      border: 2px solid #2db97c;
      box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.15),
        inset 0px 4px 50px rgba(255, 255, 255, 0.03);
      border-radius: 10px;
      .title {
        h3 {
          color: #2db97c;
        }
      }
    }
  }

  .pagination {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 35px;
    .active {
      border: 1px solid #2db97c;
    }

    div {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      gap: 10px;
      width: 49px;
      height: 49px;
      background: #122c44;
      border-radius: 10px;
      color: white;
      font-size: 14px;
    }

    .arrows:active {
      background: #193d5e;
    }
  }
}

@media screen and (min-width: 1097px) and (max-width: 1265px) {
  .subject {
    .box {
      width: 80%;
      margin: auto;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1097px) {
  .subject {
    .box {
      width: 100%;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      .card {
        width: 100%;
      }
    }
    .pagination {
      width: 80%;
      margin: auto;
      justify-content: center;
      gap: 20px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .subject {
    .box {
      width: 100%;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      .card {
        width: 100%;
        padding: 0 10px;
        .title {
          h3 {
            font-size: 14px;
          }
        }

        .text {
          width: 100%;
          font-size: 10px;
        }
      }
    }

    .pagination {
      width: 80%;
      margin: auto;
      justify-content: center;
      gap: 20px;
    }
  }
}
